

@font-face {
  font-family: Urbanist;
  src: url('Urbanist.ttf');
}
@font-face {
  font-family: LibreFranklin;
  src: url('LibreFranklin.ttf');
}

*{
  transition: 0.25s ease-in-out all;
  font-family: Urbanist, LibreFranklin, Arial, Helvetica, sans-serif;
  font-weight: 500;
  /* text-align: center; */
}

.block{
  display: block;
}
.center{
  text-align: center;
}

:root {

  color: #000000;
  background-color: #0f0020f0;
  overflow:hidden;
  border-radius: 24px;

}

.left-align{
  text-align: left;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-apart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-tiny{
  font-size: .8rem;
}
.f-small{
  font-size: 1rem;

}

.f-medium{
  font-size: 1.2rem;
}

.f-large{
  font-size: 1.5rem;
}

.f-xlarge{
  font-size: 2rem;
}

.f-bold{
  font-weight: 700;
}

.dotted-line{
  border-bottom: 3px dotted #ffffff50;
  width: 100%;
  margin: 5px 0px;
}

.blur-bg{
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.overlay-bg{
  background-color: #00000040;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;
}
.overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:80vw;
  height:60vh;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 1000;
}


.top-menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin:15px 10px
}

.bottom-menu{
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 0;
  width: 25%;
  z-index: 1000;
}

.bottom-popup{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  
}
.bottom-encouragement{
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}


.cursor-pointer{
  cursor: pointer;
}


.hover-big{
  transform: scale(1);
}
.hover-big:hover{
  transform: scale(1.1);
}


.text{
  color: white;
}
.text-main{
  color: #6200ff;
}
.text-dark{
  color: #000000;
}
.text-transparent{
  color: #ffffff15;
}

.bg-main{
  background-color: #6200ff;
}
.bg-transparent{
  background-color: #ffffff15;
}
.bg-red{
  background-color: #ff0040;
}

.shadow{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.raised-container{
  background-color: #ffffff15;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 16px;
  padding: 10px;
}
.light-container{
  background-color: #ffffff15;
  border-radius: 16px;
  padding: 10px;
}
.empty-container{
  border-radius: 16px;
  padding: 10px;
}
.solid-container{
  background-color: #0f0020;
  border-radius: 16px;
  padding: 10px;
}
.tag-container{
  border-radius: 40px 12px 12px 40px;
  background-color: #6200ff;
  padding: 4px 8px;
  margin:5px
}
.highlight-container{
  background-color: #6200ff;
  padding:4px 10px;
  border-radius: 8px;
  margin:5px
}
.nohighlight-container{
  padding:4px 10px;
  border-radius: 8px;
  margin:5px
}
.solid-highlight-container{
  background-color: #ffffff15;
  padding:4px 10px;
  border-radius: 8px;
  margin:5px
}
.dot{
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin:5px;
}


.solid-border{
  border: 2px solid #6200ff;
}
.transparent-border{
  border: 2px solid transparent;
}
.dashed-border{
  border: 1px dashed #6200ff90;
}
.error-border{
  border: 2px solid #ff0040;
}

.hover-darken{
  background-color: transparent;
}
.hover-darken:hover{
  background-color: #000000;
}


.hover-darken2{
  background-color: transparent;
}
.hover-darken2:hover{
  background-color: #00000050;
}



.color-box{
  width: 30px;
  height: 30px;
  border-radius: 8px;
  margin: 5px;
}




@keyframes randomFloat1 {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(-60px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
.anim-randomFloat1 {
  animation: randomFloat1 1.2s ease-in-out 1;
  opacity: 0;
}

@keyframes randomFloat2 {
  0% {
    transform: translate(0px, -20px);
    opacity: 0;
  }
  50% {
    transform: translate(-20px ,-60px) rotate(-5deg);
    opacity: 1;
  }
  100% {
    transform: translate(-40px ,-100px) rotate(-10deg);
    opacity: 0;
  }
}
.anim-randomFloat2 {
  animation: randomFloat2 1.2s ease-in-out 1;
  opacity: 0;
}

@keyframes randomFloat3 {
  0% {
    transform: translate(0px, -20px);
    opacity: 0;
  }
  50% {
    transform: translate(20px ,-60px) rotate(5deg);
    opacity: 1;
  }
  100% {
    transform: translate(40px ,-100px) rotate(10deg);
    opacity: 0;
  }
}
.anim-randomFloat3 {
  animation: randomFloat3 1.2s ease-in-out 1;
  opacity: 0;
}

@keyframes bg-main-flash{
  0% {
    filter: brightness(1);
  }
  10% {
    filter: brightness(2);
  }
  20% {
    filter: brightness(1);
  }
}
.anim-bg-main-flash {
  animation: bg-main-flash 3s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes border-main-flash{
  0% {
    border: 2px solid #6200ff50;
  }
  10% {
    border: 2px solid #b98eff50;
  }
  20% {
    border: 2px solid #6200ff50;
  }
}
.anim-border-main-flash {
  animation: border-main-flash 2s ease-in-out infinite;
  animation-delay: 1s;
  border: 2px solid #6200ff50;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff15;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff15;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff30;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

input:disabled{
  filter: brightness(0.7);
  cursor: not-allowed;
}

.CodeMirror {
  background-color: transparent;
  color: white;
  text-align: left;
  border-top-style: dashed;
  
}
.editor-toolbar{
  background-color: #ffffff15;
  border-radius: 8px 8px 0px 0px;
  padding: 4px;
  border: 1px solid white;
  border-bottom: 0px solid #ffffff15;
}

.editor-toolbar a {
  color: white !important;
}
.editor-toolbar a:hover, .editor-toolbar a:active {
  color: #6200ff !important;
}
.active {
  color: #6200ff !important;
}
.CodeMirror-cursor {
  border-left: 1px solid #ffffff;
}
.CodeMirror-selectedtext{
  color: #0f0020;
}